.btn {
  color: var(--white);
  border-radius: 100px;
  border: 0;
}

.btn:hover {
  border: 1px solid var(--white);
  cursor: pointer;
}

.btn-primary  {
  width: 16.6875rem;
  height: 60px;
  background: var(--red);
}

.buttons {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.buttons button {
  background: var(--red);
  border: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.buttons .left-arrow {
  margin-right: 4px;
}

.buttons .right-arrow {
  margin-left: 4px;
}

.buttons .left-arrow-disabled {

}


.buttons .right-arrow-disabled {

}


