@import 'resets.css';
@import 'variables.css';
@import 'buttons.css';



/* ========
  Global styles
  ======== */

html, body {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
}

section {
  overflow-x: hidden;
}

/* ========
  Typography
  ======== */

h1 {
  text-align: center;
  font-family: var(--font-2);
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.125rem;
  letter-spacing: 0.0625rem;
  color: var(--white);
  margin-top: 2em;
}

/* ========
  Components
  ======== */

/* Banner */
section#banner {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
}

section#banner img {
  height: 1.75rem;
}

/* Provides text for screen reader */
section#banner span {
  display: none;
}

/* Hero */
section#hero {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1em;
}

section#hero .image-hero {
  padding-left: 32em;
}

section#hero a img {
  width: 85%;
  min-width: 18.9375rem;
  max-width: 31.125rem;

}

section#hero a {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Introduction Section */
section#intro {
  background: var(--green-1);
  height: 100%;
  position: relative;
}

section#intro .scroll-gap {
  height: 10rem;
}

section#intro .intro-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 883px;
}

section#intro .intro-content img {
  width: 100%;
}


/* Large format device from iPad and up */
@media (min-width: 992px) {
  section#banner {
    justify-content: flex-start;
  }

  section#banner a {
    margin-left: 4.375rem;
  }

  section#hero a {
    height: 95%;
  }

  section#hero .image-hero {
    padding-left: 0;
  }


}
