@import 'resets.css';
@import 'variables.css';
@import 'buttons.css';



/* ========
  Global styles
  ======== */

html, body {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

section {
  width: 100%;
}

/* ========
  Typography
  ======== */

h1 {
  text-align: center;
  font-family: var(--font-2);
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.125rem;
  letter-spacing: 0.0625rem;
  color: var(--white);
  margin: 1.5em 2em;
}

/* ========
  Components
  ======== */

/* Banner */
section#banner {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
}

section#banner div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100rem;
}

section#banner img {
  height: 1.75rem;
}

/* Provides text for screen reader */
section#banner span {
  display: none;
}

/* Hero */
section#hero {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--green-1);
}

section#hero div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    max-width: 100rem;
}

section#hero .hero-image {
  padding-left: 28em;
}

section#hero a {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

section#hero a .title-logo {
  width: 85%;
  min-width: 18.9375rem;
  max-width: 31.125rem;
}
section#hero h1 {
  max-width: 20em;
}


/* Introduction Section */
section#intro {
  background: var(--green-1);
  position: relative;
  display: flex;
  justify-content: center;
}

section#intro .intro-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 100rem;
  margin-top: 10rem;
}

section#intro .intro-container .intro-text {
  position: absolute;
  width: 350px;
  height: 521px;
  left: 24px;
  top: 264px;
}

section#intro .woman-reading {
  width: 100%;
  /* height: 360px; */
}

section#intro .yellow-arrow {
  position: absolute;
  right: -2rem;
  top: 8rem;
  height: 30%;
}

section#footer {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  line-height: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: var(--black);
  color: var(--white);
}

section#footer .footer-container {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  margin-bottom: 121px;
  max-width: 100em;
}

section#footer ul img {
  margin-bottom: 4rem;
}

section#footer ul li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 120%;
}

section#footer ul li div {
  margin-top: 4rem;
}

section#footer ul li {
  list-style-type: none;
}


/* Large format device from iPad and up */
@media (min-width: 992px) {
  section#banner div {
    justify-content: flex-start;
  }

  section#banner a {
    margin-left: 4.375rem;
  }

  section#hero a {
    height: 95%;
  }

  section#hero .hero-image {
    padding-left: 0;
    width: 100%;
  }

  section#intro .woman-reading {
    width: 95%;
  }

  section#intro .yellow-arrow {
    top: -5rem;
    /* height: 22rem; */
    height: 50%;
  }


}

@media (min-width: 1400px) {


  section#hero {

  }

  section#intro .yellow-arrow {
    top: -7em;
    height: 50%;
  }
  section#intro .intro-container {
    margin-top: 12rem;
  }

  section#intro .intro-container .intro-text {
    position: absolute;
    width: 625px;
    height: 510px;
    left: 120px;
    top: 44px;
  }
}
